bcrypt==4.3.0
blinker==1.9.0
build==1.2.2.post1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
csv_importer @ file:///C:/dev/py/csv_importer
docutils==0.21.2
dotenv==0.9.9
e==1.4.5
elastic-transport==8.17.1
elasticsearch==8.17.1
Flask==3.1.0
id==1.5.0
idna==3.10
iniconfig==2.1.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.6
keyring==25.6.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
memory-profiler==0.61.0
more-itertools==10.7.0
nh3==0.2.21
numpy==2.2.5
packaging==25.0
pandas==2.2.3
pluggy==1.5.0
psutil==7.0.0
Pygments==2.19.1
pyproject_hooks==1.2.0
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.2
pywin32-ctypes==0.2.3
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
six==1.17.0
twine==6.1.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
Werkzeug==3.1.3
