{% block dropper %}
<div class="card mx-auto">
    <div class="card-header dropper">
        <h5>Upload de nouveaux Fichiers</h5>
    </div>
    <div class="card-body">
        <form action="{{file_type.url}}" class="dropzone" id="myDropzone"
              data-dropzone-type="{{ file_type.name }}"
              data-accepted-files="{{ file_type.accepted_extensions_str }}"
              data-upload-url="{{ url_for('upload_file') }}"
              data-filetype="{{ file_type.name }}"
        >

            <div class="dz-message" data-dz-message>
                <span>Déposez vos fichiers ici ou cliquez pour sélectionner</span>
            </div>
        </form>
    </div>
</div>
{% endblock %}