{% extends 'layout.html' %}

{% block title %}Connexion{% endblock %}


{% block content %}
<div class="login-container">
    <h2>Connexion</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <label for="login">Nom d'utilisateur</label>
        <input type="text" id="login" name="login" value="admin" required autocomplete="username">

        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" value="Adm1n@pp2025" required autocomplete="current-password">

        <button type="submit" class="btn btn-submit">Se connecter</button>
    </form>
</div>
{% endblock %}
